Package: efistub-boot
Version: 0.1
Architecture: amd64
Maintainer: m <m@metaquanta.com>
Installed-Size: 20
Depends: efibootmgr, util-linux
Section: admin
Priority: optional
Homepage: https://metaquanta.com/efistub-boot
Description: setup native linux boot stub
